@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-satoshi), ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-sans);
}
/* globals.css */

.marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
